@model Tuple<int, IEnumerable<AppointLess2.ViewModels.ScheduleViewModels.TimeSlotVM>>


<h4>Ajat</h4>
<p>
    @Html.ActionLink("Luo uusi", "CreateTS", new { ScheduleID = Model.Item1 }) 
    @*@Html.ActionLink("Create New", "CreateTS" )*@
</p>

<table class="table">
    <tr>
        <th>
            Viikonpäivät
            @*DaysOfWeek*@
            @*@Html.DisplayNameFor(model => model.Item2.GetType().GetProperty("DaysOfWeek"))*@
            @*@Html.DisplayNameFor(Model => Model.Item2.DaysOfWeek)*@
        </th>
        <th>
            Aika
            @*TimeOfDay*@
            @*@Html.DisplayNameFor(model => model.Item2.GetType().GetProperty("TimeOfDay"))*@
        </th>
        <th>
            Kesto (minuuttia)
            @*LengthMinutes*@
            @*@Html.DisplayNameFor(model => model.Item2.GetType().GetProperty("LengthMinutes"))*@
        </th>
        @*<th>
            ScheduleID
        </th>*@
        @*@Html.DisplayNameFor(model => model.Item2.GetType().GetProperty("ScheduleID"))*@
        <th></th>
    </tr>

@foreach (var item in Model.Item2)
{
    <tr>
            
        <td>
            @string.Join(",", item.DaysOfWeek.Where(d=>d.Selected).Select(d => d.Text))
            @*@item.DaysOfWeek.Select(d => d.Text)
            @Html.DisplayFor(modelItem => item.DaysOfWeek)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthMinutes)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ScheduleID)
        </td>*@
        <td>
            @Html.ActionLink("Editoi"   , "EditTS"   , new { id=item.Id }) |
            @Html.ActionLink("Poista" , "DeleteTS" , new { id=item.Id })
        </td>
    </tr>
}

</table>
