@model AppointLess2.ViewModels.BookingWeekVM

@{
    ViewBag.Title = "Index";
    var NextMonday = Model.WeekDays.ElementAt(0).AddDays(7);
    var PreviousMonday = Model.WeekDays.ElementAt(0).AddDays(-7);
}

@*
    +--------+
    | ADMIN  |
    +--------+
*@

<h2>Index</h2>

@if (Model.WeekDays.First() > DateTime.Now)
{
    @Html.ActionLink("Edellinen viikko", "Index", "BookingsAdmin", new {
    schedID = Model.Schedule.Id,
    yearDotMothDotDay = PreviousMonday.ToString("yyyy.M.d"),
}, null)
}
<br />
@Html.ActionLink("Seuraava viikko", "Index", "BookingsAdmin", new {
    schedID = Model.Schedule.Id,
    yearDotMothDotDay = NextMonday.ToString("yyyy.M.d"),
}, null)


<div class="jumbotron" id="tableContainer">
    <table style="table-layout: fixed; width: 100%;" id="WeekViewTable">
        <tr>
            <td>&nbsp;     </td>
            @{
                foreach (var day in Model.WeekDays)
                {
                    int dow = (int)day.DayOfWeek;
                    var dateStr = day.ToString("yyyy.MM.dd");
                    <th id="th-@dow" data-date-text="@dateStr">@Model.GetDayName(day.DayOfWeek) @day.ToString("d.M")</th>
                }
            }
        </tr>


        @{
            var startHour = (int)Model.Schedule.StartOfDay;
            var endHour = (int)Model.Schedule.EndOfDay;
            var quarterMins = new List
            <string>
                () { "00", "15", "30", "45" };
            for (int hour = startHour; hour < endHour; hour++)
            {
                foreach (var mins in quarterMins)
                {
                    <tr>
                        <td>@hour:@mins</td>
                        <td id="td1-@hour:@mins"></td>
                        <td id="td2-@hour:@mins"></td>
                        <td id="td3-@hour:@mins"></td>
                        <td id="td4-@hour:@mins"></td>
                        <td id="td5-@hour:@mins"></td>
                        <td id="td6-@hour:@mins"></td>
                        <td id="td7-@hour:@mins"></td>
                    </tr>
                }
            }
        }
    </table>
</div>

<div id="EventInput" style="display:none; background-color:#EEEEEE; border:1px solid green; z-index:3; margin: auto; text-align:center">

    @*@using (Html.BeginForm("CreateBooking1", "BookingView", FormMethod.Post))*@
    @using (Html.BeginForm("ReserveBooking", "BookingAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <label id="dateAndTime"
               style="padding:10px 10px 10px 10px; font-size:large; white-space: pre-wrap"></label><br />
        @Html.HiddenFor(m => m.Booking.EventDate)
        @Html.HiddenFor(m => m.Booking.TimeSlotId);

        <input id="return_url" name="return_url" type="hidden" value="">

        <input type="submit" value="Merkitse varatuksi" name="answer" style="font-size:medium; margin-bottom:10px"
               formaction=@Url.Action("ReserveBooking") formmethod="post" class="btn btn-primary" /><br />
        <input type="button" value="X" onclick="HideInput('#EventInput');" style="position:absolute; top: -10px; right: -10px" />

    }
</div>

<div id="AdminBookingView" style="display:none; background-color:#EEEEEE; border:1px solid green; z-index:3; margin: auto; text-align:center">

    @using (Html.BeginForm("Cancel", "BookingAdmin", FormMethod.Post))
    {

        <h1>Varattu aika</h1>
        <label id="AdminBookingDataName" style="padding-right:10px;margin:10px;"></label><br />
        <label id="AdminBookingDataEmail" style="padding-right:10px;margin:10px;"></label><br />
        <label id="AdminBookingDataPhone" style="padding-right:10px;margin:10px;"></label><br />
        <label id="AdminBookingDataDescription" style="padding-right:10px;margin:10px;"></label><br />
        <label id="AdminBookingDataStatus" style="padding-right:10px;margin:10px;"></label><br />

        <input type="hidden" id="bookingID" name="bookingID" value="">

        <input id="return_url" name="return_url" type="hidden" value="">

        @*<input id="adminEmail"       type="text" style="padding-right:10px;margin:10px;" />      <br />
            <input id="adminPhone"       type="text" style="padding-right:10px;margin:10px;" />      <br />
            <input id="adminDescription" type="text" style="padding-right:10px;margin:10px;" /><br />*@
        <input type="submit" value="Peruuta" name="answer1" style="font-size:medium; margin-bottom:10px"
               formaction=@Url.Action("Cancel") formmethod="post" class="btn btn-primary" /><br />
        @*<input type="submit" value="Vahvista" name="answer2" style="font-size:medium; margin-bottom:10px"
            formaction=@Url.Action("Temp") formmethod="post" class="btn btn-primary" /><br />*@
        <input type="button" value="X" onclick="HideInput('#AdminBookingView');" style="position:absolute; top: -10px; right: -10px" />
    }\
</div>

<div id="AdminHoverBookingView" style="display:none; background-color:#EEEEEE; border:1px solid green; z-index:3; margin: auto; text-align:center">
    @*<h2>Aika</h2>*@
    <label id="adminHoverData" style="padding-right:10px;margin:10px;" />      <br />
</div>

<script>
    var currentDay = null;
    //document.getElementsByName('return_url').forEach(function (e) { e.value = document.URL; })
    var retUrls = document.getElementsByName('return_url');
    for (i = 0; i < retUrls.length; i++) { retUrls[i].value = document.URL; }
</script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/WeekViewJS.js"></script>
<script src="~/Scripts/Utils.js"></script>

<script>
    

    @{
        foreach (var ts in Model.Schedule.TimeSlots)
        {
            int hour = ts.TimeOfDay.Hours;
            int mins = ts.TimeOfDay.Minutes;
            int lenMins = ts.LengthMinutes;
            int days = ts.DaysOfWeek;

            @:console.log(@hour);
            @:console.log(@mins);
            @:console.log(@lenMins);

            var bkngs = Model.GetTimeSlotBookgingsInJson(ts, true);
            @:var bookings = [];
            foreach (var b in bkngs)
            {
                @:var jsonBooking = JSON.parse("@b".replace(/&quot;/g, '"'));
                @:console.log('jsonBooking');
                @:console.log(jsonBooking);
                @:bookings.push(jsonBooking);
            }
            @:slotList.push(new TableSlot(@hour, @mins, @lenMins, @days, bookings, Mode.admin, @ts.Id));
        }
    }
    slotList.forEach(function (slot) {
        //slot.print();
        slot.WriteToTable();
    });
</script>
